@model HistoriasClinicas2.Models.Epicrisis

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Epicrisis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMedico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMedico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaYHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaYHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Episodio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Episodio.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
