@model IEnumerable<HistoriasClinicas.Models.Evolucion>

@{
    ViewData["Title"] = "Lista de Evoluciones";
}


@if (User.IsInRole("Medico")) {

    <h1>Lista de Evoluciones</h1>
<p>
    <a asp-action="Create" >Create New</a>
</p>
}

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DescripcionAtencion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaYHora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstadoAbierto)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescripcionAtencion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaYHora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoAbierto)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="card bg-warning">
        <p class="mx-auto">
            Usted no tiene ninguna evolucion registrada al dia @DateTime.Now.ToString("d/M/yyyy")
        </p>
    </div>
}