@model IEnumerable<HistoriasClinicas.Models.Episodio>

@{
    ViewData["Title"] = "Historia";
}

<h1>Historia Clinica</h1>

<p>
    <a asp-action="Create">Nuevo Episodio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraCierre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoAbierto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Motivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaYHoraInicio)
                </td>
                <td>
                    @(item.EstadoAbierto ? @Html.Display("vacio") : @Html.DisplayFor(modelItem => item.FechaYHoraAlta))
                </td>
                <td>
                    @(item.EstadoAbierto ? @Html.Display("vacio") : @Html.DisplayFor(modelItem => item.FechaYHoraCierre))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoAbierto)
                </td>
                @if (User.IsInRole("Medico"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Ver Episodio</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
