@model IEnumerable<HistoriasClinicas2.Models.Evolucion>

@{ ViewData["Title"] = "Evoluciones"; }

<h1>Evoluciones</h1>

@if (User.IsInRole("Medico") && ViewBag.EstadoAbierto) 
{
<p>
    <a asp-action="Create" asp-route-id="@ViewBag.IdEpisodio">Añadir Evolucion</a>
</p>}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionAtencion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraCierre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoAbierto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionAtencion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHoraCierre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoAbierto)
            </td>
            @if (User.IsInRole("Medico"))
            {
                if (item.EstadoAbierto)
                {
                    <td>
                        <a asp-controller="Notas" asp-action="Index" asp-route-id="@item.Id">Ver Notas</a> |
                        <a asp-action="Cerrar" asp-route-id="@item.Id">Cerrar</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-controller="Notas" asp-action="Index" asp-route-id="@item.Id">Ver Notas</a>
                    </td>
                }
            }
            else if (User.IsInRole("Empleado"))
            {
                <td>
                    <a asp-controller="Notas" asp-action="Index" asp-route-id="@item.Id">Ver Notas</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="Episodios" asp-action="Index" asp-route-id="@ViewBag.Id">Volver a Episodios</a>
</div>
