@model HistoriasClinicas2.Models.Diagnostico

@{
    ViewData["Title"] = "Diagnostico";
}

<h1>Diagnostico</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recomendacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recomendacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Episodios" asp-action="Index" asp-route-id="@ViewBag.Id">Volver a Episodios</a>
</div>
